# dependencies
src/node_modules/**
# env variable
src/node_modules/*.env
#logs folder
/src/logs/**
logs
*.log
*.vscode
/playground/**
*.cassandraWorkbench.jsonc
*.cassandraWorkbench
src/package-lock.json
src/coverage
**/.nyc_output
webhook.txt